@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.robinhood{
    
    border:8px grey;
    border-top-left-radius: 0.375rem;
    max-width: 100%;
    display: block;
    height: 12rem;
    width: auto;

}
.contact{
  display: flex;
  list-style: none;
  font-size: 30px;
  width:300px;
  padding: 0;
  font-size: 28px;
  
  
  
}
.contact li a{
  margin:6px;
  color: black;
}

.cold{
  max-width: 300px;
  float: left;
  margin-right: 20px;

  
}
.Side{
  transition-timing-function: ease-in-out;
  transition: 1s;
}
.Side:hover{
  letter-spacing: 2px;
}
.Side :active{
  background-color: blue;
  color:beige;
}
/* .bg-dark{
  background-color: aquamarine;
} */

.mystyle{
  font-family: 'Varela Round', sans-serif;
}

.mycard{
  height: 16rem;
  border: 1px solid rgb(217, 208, 208);
  border-top-left-radius: 7px;

}
@media screen and (max-width:777px){

    .robinhood{
      border:8px grey;
      border-top-left-radius: 0.375rem;
      max-width: 100%;
      border-top-right-radius:0.375rem;
      height: auto;
      width: auto;
  
    }
    .cold{
      max-width: 100%;
      margin-right: 0px;
      
    }
    .mycard{
      height: auto;
      width: 100%;
      border: 1px solid rgb(217, 208, 208);
      border-top-left-radius: 7px;
      border-top-right-radius:0.375rem;
      display: flex;
     flex-direction: column;

    }
}